<div class="row">
    <div class="col-sm-4">
      <div class="jumbotron">
          <div class="card text-white bg-dark">
              <div class="card-body">
                <blockquote class="card-blockquote">
                   <h2> — I'm Diwakar Raj, a developer And designer.</h2>
                   <p>
                     I am a B.Tech Engineer by education and Traveler and cook by passion.After completion of my B.Tech, I am shifted to Bangalore. with key skills like NodeJS,Angular,HTML5/CSS3,ASP.NET
                     I've always been drawn to the overlap between design and development. My skills are broad: from ux to design, front end to back end development. I enjoy each aspect, and love building sites & mobile apps from start to finish, for clients all over the world.
                    I'm available for remote work - if you would like to build something together, get in touch?  
                   </p>
                </blockquote>
              </div>
          </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="jumbotron">
            <div class="card text-white bg-dark">
                <div class="card-body">
                  <blockquote class="card-blockquote">
                   <h3>   Front-end</h3>
                     <p> CSS3, Javascript,HTML5,bootstraps</p>
                      <h3> Back-end</h3>
                    <p> NodeJS,ASP.NET, APIs,NoSQL,Java</p>
                      <h3> CMS</h3>
                    <p> Drupal, Wordpress</p>
                      <h3>Apps</h3>
                    <p> Mobile, React Native</p>
                      <h3>Cloud</h3>
                    <p> AWS, Google, Firebase</p>
                      <h3>E-Commerce</h3>
                    <p>  Woocommerce, Shopify,Drupal Commerce</p>
                  </blockquote>
                </div>
            </div>
        </div>
      </div>
      <div class="col-sm-4">
          <div class="jumbotron">
              <div class="card text-white bg-dark">
                  <div class="card-body">
                    <blockquote class="card-blockquote">
                     <h2>Some Of my projects.</h2>
                     <span class="glyphicon glyphicon-ok"></span>
                    </blockquote>
                  </div>
              </div>
          </div>
        </div>
</div>