<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid" >
    <a class="navbar-brand" href="#"><h3>DR</h3></a>
    <ul class="nav navbar-nav navbar-right">
    <li><a routerLink="/home" routerLinkActive="active" ><h3>Home</h3></a></li>
    <li><a href="/about"><h4>About</h4></a></li>
    <li><a href="contact"><h4>Contact</h4></a></li>
  </ul>
  </div>
</nav>
<div id="main">
<router-outlet></router-outlet>
<footer> copyrifht to 2017</footer>

</div>