<div class="row">
   <div class="col-sm-3">

   </div>
   <div class="col-sm-6">
      <div class="container-fluid bg-1 text-center ">
           <div class="row">
                 <div class="col-sm-4">
                  <!--  
                  <img src="molu.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
                  -->  
                </div>
                   <div class ="col-sm-4">
                      <h3 class="margin"></h3>
                      <h1>Diwakar Raj</h1>
                      <h2>Software Developer</h2>
                   </div>
                   <div class="col-sm-4">

                   </div>
                
            </div>
        <p>I’m an independent web & software developer from Dublin, Ireland. I work primarily with node.js and ASP.NET.</p>
        <br>
        <p>If you have an application you are interested in developing with web technology, I’d love to work with you on it. I’m a full-stack developer which means I can bring your project from concept to completion. I work primarily with Django and Node.js on the back-end and Ember.js on the front-end but picking up new languages or frameworks isn’t a problem.</p>
         <br>
         <p> I’m available for hire on a freelance or contract basis. Why not send me an email to<a href="#"> diwakarraj1122@gmail.com</a> to discuss it further?</p>          
      </div>
    <hr>
    </div>
    <div class="col-sm-3">

    </div>
</div>

